.main-container{
    background-color: #383838;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    width : 600px;
    height : 600px;    
    
}

.game-container{
    width : 600px;
    height : 600px;
    overflow: scroll;
    position:relative;
}

.game-canvas{
    background-color: #fcfcfc;
    position: absolute;
    top:0;
    left: 0

}